################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/x64/Debug
/socket.VC.VC.opendb
/socket.VC.db
/test.h
/cachefile.h
/output
/.vs/socket/v14/.suo
